
.sec-1{
    padding: 90px 60px;
}
.sec-1Box{
    display: flex;
}
.dd{
    background-color: blue;
    height: 50px;
    color: white;
    padding: 30px 30px;
}
.dd svg{
    vertical-align: unset !important;
    margin-top: -13px;
    font-size: 33px;
}
.sec-1text{
    padding: 0px 10px;
}
.sec-1 h1{
    font-size: 20px;
    font-weight: bold;
}
.sec-2{
    background-color: #c36c6c52;
    padding: 70px 0px;
    text-align: center;
    display: block;
    color: white;
}
.sec-2 h1{
    font-size: 25px;
    margin-bottom: 20px;
    color: #0000007a;
    text-decoration: underline;
}
.sec-2 p{
    /* color: gray; */
    padding: 20px 200px; 
}
.sec-2borderbtm img{
    height: 120px !important;
}

.sec-3{
    background-image: url(https://www.sharewolves.com/images/background/background_1.jpg);
    padding: 70px 10px;
    color: white;
}
.featuressec-3coltext{
    margin-top: 100px;
}
.featuressec-3coltext h1{
    margin-bottom: 20px;
}
.featuressec-3coltext h6{
    margin-bottom: 40px;
}
.featuressec-3coltext a{
    background-color: skyblue;
    padding: 14px 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.featuresbox{
    background-color: beige;
    padding: 30px 20px;
}
.featuresbox svg{
    font-size: 30px;
    margin-bottom: 15px;
}
.sec-4{
    padding: 80px 30px;
}
.sec-4row2{
    margin-top: 40px;
}