.servicesec-1 {
    padding: 30px 20px;
    background-color: skyblue;
}

.servicesec-1 {
    background-color: skyblue;
    margin-top: 200px;
    /* background-image: url('images/peakpx (54).jpg'); */
}

.servichedd {
    text-align: center;
}

.servichedd h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: cadetblue;
}

.servicesecBoxdown {
    background: white;
    margin-top: -90px;
    border-radius: 6px;
    padding: 30px 20px;
    box-shadow: 5px 15px 20px #3a8d76;
}


.servicesecBoxdown:hover{
    background-color: darkcyan;
    color: white;
    margin-top: -140px;
}

.servicesecBoxup:hover{
    background-color: darkcyan;
    color: white;
    margin-top: -190px;
}

.servicesecBoxup {
    background: white;
    margin-top: -140px;
    border-radius: 6px;
    padding: 30px 20px;
    box-shadow: 5px 15px 20px #3a8d76;
}

.servicesecicons {
    text-align: center;
}

.servicesecicons svg {
    background: skyblue;
    font-size: 45px;
    border-radius: 23px;
    padding: 10px;
}

.servicesec-2 {
    padding: 50px 0px;
    background-image: url('images/backgrounds-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.serviceseccol {
    text-align: center;
}

.servicesec-2coltxt {
    margin-top: 50px;
}

.servicesec-2coltxt a {
    background: skyblue;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.servicesec-3 {
    padding: 50px 0px;
    /* background-image: url('images/peakpx (69).jpg'); */
    background-image: url('images/backgrounds-6.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.serviceseccol {
    text-align: center;
}

.servicesec-3coltxt {
    margin-top: 50px;
}

.servicesec-3coltxt a {
    background: skyblue;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@keyframes previewShapeX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(55px);
    }

    100% {
        transform: translateX(0);
    }
}

.leftright-animation {
    animation: previewShapeX 4s linear infinite;
}

.leftright-animation {
    animation: previewShapeX 4s linear infinite;
}
@keyframes lefttannimat {
    0% {
        transform: translateX(20);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(20);
    }
}

.righleft-animation {
    animation: lefttannimat 4s linear infinite;
}

.servicesec-4 {
    padding: 50px 0px;
    background-image: url('images/backgrounds-11.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.servicesec-4box {
    box-shadow: 0px 1px 12px 2px #060f248c;
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: #f3f6ff;
    /* background-color: #d7dfdd; */
}
.servicesec-4colimag{
    display: flex;
    justify-self: center;
    align-items: center;
}
.servicesec-4colimag div{
    margin-top: -130px;
}

.servicesec-4box:hover{
    background-color: #3a8d76;
    color: white;
}

.servicesec-4{
    margin-bottom: 120px;
}