.servicesec-1 {
    padding: 30px 20px;
    background-color: skyblue;
}

.servicesec-1 {
    background-color: skyblue;
    margin-top: 200px;
}

.servichedd {
    text-align: center;
}

.servichedd h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: cadetblue;
}

.servicesecBoxdown {
    background: white;
    margin-top: -90px;
    border-radius: 6px;
    padding: 30px 20px;
    box-shadow: 5px 15px 20px #3a8d76;
}

.servicesecBoxdown:hover {
    background-color: darkcyan;
    color: white;
    margin-top: -140px;
}

.servicesecBoxup:hover {
    background-color: darkcyan;
    color: white;
    margin-top: -190px;
}

.servicesecBoxup {
    background: white;
    margin-top: -140px;
    border-radius: 6px;
    padding: 30px 20px;
    box-shadow: 5px 15px 20px #3a8d76;
}

.servicesecicons {
    text-align: center;
}

.servicesecicons svg {
    background: skyblue;
    font-size: 45px;
    border-radius: 23px;
    padding: 10px;
}

.servicesec-2 {
    /* background: #80808014; */
    padding: 50px 0px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230517/pngtree-blue-background-images-stock-photos-vectors-free-download-image_2598904.jpg);
    /* background-image: url('images/sec-bg-image-5.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.serviceseccol {
    text-align: center;
}

.servicesec-2coltxt {
    margin-top: 50px;
}

.servicesec-2coltxt a {
    background: skyblue;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.servicesec-3 {
    padding: 50px 0px;
    background-image: url(https://img.freepik.com/premium-photo/wavy-abstract-holographic-background_833908-948.jpg);
    /* background-image: url('images/sec-bg-image-5.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.serviceseccol {
    text-align: center;
}

.servicesec-3coltxt {
    margin-top: 50px;
}

.servicesec-3coltxt a {
    background: skyblue;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@keyframes previewShapeX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(55px);
    }

    100% {
        transform: translateX(0);
    }
}

.leftright-animation {
    animation: previewShapeX 4s linear infinite;
}

@keyframes lefttannimat {
    0% {
        transform: translateX(20);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(20);
    }
}

.righleft-animation {
    animation: lefttannimat 4s linear infinite;
}

.servicesec-4 {
    padding: 50px 0px;
    background-image: url(https://png.pngtree.com/background/20230303/original/pngtree-blue-background-image-hd-wallpaper-free-vector-picture-image_2083395.jpg);
    /* background-image: url('images/sec-bg-image-5.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 0px;
}

.servicesec-4box {
    box-shadow: 9px 2px 27px #d7dfdd;
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: #d7dfdd;
}

.servicesec-4box:hover {
    background-color: #3a8d76;
    color: white;
}