.fa-ul ul li {
     list-style: none;
}


.rocket_section {
     margin-top: 100px;
     padding: 50px 0px 0px 0px
}

.roket_wraper {
     position: absolute;
     top: -50px;

}    

.footer-listss li{
     list-style: none;
}
.footer-listss li a{
     color: white;
     text-decoration: none;
}
.footer-listss li a:hover{
     color: skyblue;
}