.contact-sec1{
    text-align: center;
    padding: 50px 10px;
}
.contactheds p {
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 34%, var(--color-secondary)) 98% / 200% 100%;
    background-clip: text;
    -webkit-background-clip: text; /* Ensure this is included for compatibility */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
}
.contactheds h1 {
    background: linear-gradient(95deg, var(--color-primary) 45%, var(--color-tertiary) 45%, var(--color-pink) 74%, var(--color-secondary)) 58% / 200% 100%;
    background-clip: text;
    -webkit-background-clip: text; /* Ensure this is included for compatibility */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 50px;
}

:root {
    --color-primary: #8AB6F9;
    --color-tertiary: #CADCFC;
    --color-pink: #00246B;
    --color-secondary: #ff509a;
}

.contact-box{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 30px 20px;
}
.contact-box svg{
    color: skyblue;
    font-size: 45px;
    margin-bottom: 19px;
    text-align: start !important;
}
.contact-box a{
    text-decoration: none;
    line-height: 35px;
}
.contact-box h5 {
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 34%, var(--color-secondary)) 98% / 200% 100%;
    background-clip: text;
    -webkit-background-clip: text; /* Ensure this is included for compatibility */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.contact-box a{
    color: white;
}
.contact-box a:hover{
    color: skyblue;
}
.contact-formrow{
    margin-top: 50px;
}
.contact-formrow .form-group{
    margin-top: 20px;
}
.contact-formrow input,
.contact-formrow textarea{
    padding: 17px 30px;
    background: transparent;
    border: 1px solid #3f709d41;
    border-radius: 27px;
    margin-bottom: 30px;
    font-weight: bold;
    background-color: rgb(230 222 231 / 72%);
}
.contact-formcol{
    background-color: rgb(7 54 72 / 59%);
    padding: 40px 50px;
    border-radius: 15px;
}
.contact-formcol button{
    background: skyblue;
    padding: 14px 52px;
    border-radius: 23px;
    border: 1px solid rgba(0, 0, 0, 0.226);
}